.wrapper {
  position: fixed;
  top: 0;
  width: 80%;
  height: 120px;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  z-index: 1000;
  background-color: transparent;
  font-size: 15px;
  color: $white;
}

.logo {
  justify-self: start;
}

.socials {
  justify-self: center;
  display: flex;
  gap: 50px;
}

.email {
  justify-self: end;
}
