.wrapper{
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    z-index: 9999;
}

.character{
    font-family: $gothic-font;
    font-size: 120px;
}
