
:root {
  --color: $white;
}

@font-face {
  font-family: public-pixel;
  src: url("/fonts/public-pixel.woff");
}
@font-face {
  font-family: chill;
  src: url("/fonts/chill.woff");
}

* {
  margin: 0;
  padding: 0;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  outline: none;
  z-index: 1;
}

.webgl:active {
  cursor: grabbing;
}

#textarea {
  position: fixed;
  top: 0;
  right: 0;
  outline: none;
  z-index: -1;
  opacity: 0;
}

#loading {
    display: none;
}

