.wrapper {
  position: fixed;
  top: 50%;
  right: 50px;
  bottom: 600px;
  height: 550px;
  width: 400px;
  transform: translateY(-50%);
  display: flex;
  flex-wrap: wrap;
  gap: 15px;

  h1 {
    font-size: 40px;
    font-weight: 600;
    width: 100%;
  }
}
.item {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: $bg-grey;
  border-radius: 12px;
  height: 60px;
  padding: 0 15px;
  transform-origin: center;
}

.icon {
  height: 40px;
  color: $light_grey;
}

.title {
  font-size: 13px;
  color: $light_grey;
}

.selected {
  background-color: $white;

  .icon {
    color: $black;
  }

  .title {
    color: $black;
  }
}
